article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:1em;line-height:1.4;}
body,button,input,select,textarea{font-family:sans-serif;color:#222;}
::-moz-selection{background:#fe57a1;color:#fff;text-shadow:none;}
::selection{background:#fe57a1;color:#fff;text-shadow:none;}
a{color:#00e;}
a:visited{color:#551a8b;}
a:hover{color:#06e;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:"";content:none;}
small{font-size:85%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:1em 0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
legend{border:0;*margin-left:-7px;padding:0;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,textarea:invalid{background-color:#f0dddd;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
@media only screen and (min-width: 480px){}@media only screen and (min-width: 768px){}.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;*line-height:0;}
.ir br{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
@media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}body{margin:50px 0;background:url(back.gif) repeat top center;overflow:hidden;}
#sky{background:url(sky.gif) repeat top center;position:absolute;top:0;width:100%;height:2000px;}
h1{margin:0;text-align:center;font-family:'Lobster',cursive;font-size:80px;color:#333;text-shadow:0 0 5px #ccc;}
h3{font-family:'Lobster',cursive;clear:both;text-align:center;padding:20px 0;}
.tile{height:46px;width:46px;margin:2px;float:left;cursor:pointer;background:url(tiles.png);}.tile:hover{border:solid 2px #990000;margin:0;}
.cloud{height:30px;width:46px;position:absolute;background:url(tiles.png);-webkit-transition:all 0.9s ease-out;-moz-transition:all 0.9s ease-out;-ms-transition:all 0.9s ease-out;-o-transition:all 0.9s ease-out;transition:all 0.9s ease-out;}
.cloudtype_water{background-position:-150px -50px;}
.cloudtype_acid{background-position:-150px -100px;}
#map{height:500px;width:500px;float:left;position:relative;}
#toolbox{position:relative;width:200px;height:500px;float:left;}#toolbox h1{margin:15px 0 0 10px;text-align:right;width:90px;font-size:20px;float:left;}
#container{width:700px;margin:20px auto;height:500px;}
.tiletype_0{background-position:0px 0px;}
.tiletype_1{background-position:-50px -50px;}
.tiletype_2{background-position:-100px -50px;}
.tiletype_3{background-position:-50px 0px;}
.tiletype_4{background-position:-200px -100px;}
.tiletype_100{background-position:-100px 0px;}
.tiletype_101{background-position:-150px 0px;}
.tiletype_102{background-position:-200px 0px;}
.tiletype_103{background-position:-200px -50px;}
#cursor{height:50px;width:50px;background-image:url(tiles.png);position:absolute;top:0;right:30px;background-color:#ffa;border:solid 5px #666;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
#info{position:absolute;bottom:150px;left:10px;height:280px;width:160px;padding:0 10px;font-size:12px;background:#fff;-webkit-box-shadow:0px 0px 10px #cccccc;-moz-box-shadow:0px 0px 10px #cccccc;box-shadow:0px 0px 10px #cccccc;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;font-family:monospace;}
#robo{bottom:0;position:absolute;height:150px;width:100px;background:transparent url(tiles.png) no-repeat -50px -100px;left:50px;}
.cursor_0{background-position:0px -50px;}
.cursor_1{background-position:0px -100px;}
.cursor_2{background-position:-100px 0px;}
.cursor_3{background-position:-150px 0px;}
.cursor_4{background-position:-200px 0px;}
.cursor_5{background-position:-200px -50px;}
.cursor_6{background-position:-150px -50px;}
.cinfo{white-space:pre-line;display:none;}
#storage,#stats{margin-top:5px;}
.ct_0 .info_0{display:block;}
.ct_1 .info_1{display:block;}
.ct_2 .info_2{display:block;}
.ct_3 .info_3{display:block;}
.ct_4 .info_4{display:block;}
.ct_5 .info_5{display:block;}
.ct_6 .info_6{display:block;}
#menu{width:700px;margin:100px auto;}
.restart{background-color:#369;float:left;margin:0 70px 0 0;padding:20px;cursor:pointer;font-family:'Lobster',cursive;color:#fff;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
.locked{background-color:#333;}
